<link rel="stylesheet" href="stylesheets/loginPage.css">
<form action="/signup" method="POST">

    <div class="loginText  d-flex flex-column bd-highlight justify-content-center align-items-center">
        <h1>Signup</h1>
    </div>
    <div class="form-group d-flex flex-column bd-highlight justify-content-center align-items-center">
        <input type="text" class="form-control  w-25 mt-2 border-0 border-dark 
    rounded-0" name="Name" aria-describedby="emailHelp" placeholder="Enter Name">
        <input type="email" name="Email" class="form-control w-25 mt-5 border-0 border-dark 
    rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <input type="password" name="Password" class="form-control w-25 mt-5 border-0 border-dark
    rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password">

    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-5 ">Signup</button>
    </div>
</form>
<div class="d-flex justify-content-center mt-2">
    <a href="/login">Already have an account?</a>
</div>